<html>
    <body>
        <h1>Add Product</h1>
        <form>
            Name : <input type = "text" name = "name"" />
            Price : <input type = "number" name = "price"/>
            Details : <input type = "text" name = "details"/>
        </form>
    </body>
</html>