<html>
    <body>
        <form method="post" action="/add-product-process">
            <h1>Add Product</h1>
            Name : <input type = "text" name = "name" />
            Price : <input type = "number" name = "price"/>
            Details : <input type = "text" name = "details"/>
            <input type = "submit"/>
        </form>
    </body>
</html>